.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.sidebar{
    height: calc(100vh - 2.75rem);
    width: 20rem;
    position: fixed;
    z-index: 2;
    transition: .3s;
    left: -20rem;
    @media(min-width: 1280px){
        left: 0rem;
    }
}

.reveal{
    left: 0rem;
    transition: .3s;
}

.home{
    cursor: pointer;
}