.main{
    
    @media (min-width: 1280px){
        position: relative;
        left: 24rem;
        width: calc(100vw - 24rem)
    }
}

.header{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    figure{
        margin-right: 1rem; 
    }
}