.main{
    
    @media (min-width: 1280px){
        position: relative;
        left: 18rem;
        width: calc(100vw - 18.5rem)
    }
    @media (min-width: 900px){
        margin: .25rem;
    }

    img{
        margin: .25rem;
    }
}
.headerLogo{
    max-width: 22rem;
    margin: auto;
    max-height: 15rem;
    @media (min-width: 960px){
        max-width: 35rem;
        max-height: 20rem;
    }
}
