
$info: #87F5FB;
$danger: #DE3C4B;
$primary: #393e46;
$white: #EEEEEE;
$dark: #222831;

@import "bulma/sass/utilities/_all.sass";
@import 'bulma/sass/base/_all.sass';
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/grid/columns.sass";
@import "~bulma-pageloader";

body{
    background-color: #222831;
    height: 100vh;
}

.overlay{
    opacity: .5;
    background-color: black;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

