

$info: #87F5FB;
$danger: #2BCED6;
$primary: #393e46;
$white: #EEEEEE;
$dark: #222831;


@import "bulma/sass/utilities/_all.sass";
@import 'bulma/sass/base/_all.sass';
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/grid/columns.sass";
@import "~bulma-pageloader";

body{
    background-color: #222831;
    height: 100vh;
}

.overlay{
    opacity: .5;
    background-color: #222831;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.box{
    box-shadow:  8px 8px 21px #171c22, 
    -8px -8px 21px #2d3440;
}

.card{
    border-radius: 5px;
    box-shadow:  8px 8px 21px #171c22, 

}

