.item{
    // display: flex;
    // flex-direction: row;
    cursor: pointer;
    // align-items: center;
    // padding-top: .5rem;
    // padding-bottom: .5rem;
    // padding-left: 1rem;
    padding: 0rem;
    padding-bottom: .5rem;
    transition: .3s;
    figure{
        margin-right: 1rem;
    }
}
.avatar{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 18rem;
    height: auto;
    
}
.item:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
}

.item:active{
    transform: scale(.95);
    transform: translateY(5px);
}

.title{
    // text-shadow: 0px 0px 6px rgb(165, 42, 55);
    margin-top: 2rem;
    padding-left: .5rem;
}